# Terraform
.terraform/
.terraform.lock.hcl
terraform.tfstate
terraform.tfstate.backup
*.tfplan
override.tf
override.tf.json

# Lambda build artefacts
lambda/**/*.zip

# Python
__pycache__/
*.pyc
*.pyo
.venv/
venv/
.env

# AWS
.aws-sam/
response.json
